In [574]:
import numpy as np
import pandas as pd

In [575]:
scl=pd.read_csv("c:/Users/renee/desktop/SCLXX.csv")

In [576]:
scl.head()

,BA,UTC_time,Local_date,Hour,Data_issue,Local_time,Time_zone,Generation only,DF,D,...,UTC offset calculated,UTC0 offset,UTC1 offset,UTC2 offset,UTCD offset,UTC offset mismatch,File 0,File 1,File 2,File D
0,SCL,7/1/2015 8:00,7/1/2015,1,1,7/1/2015 1:00,Pacific,N,865.0,873.0,...,7,7.0,7.0,7.0,0,0,SCLdaily1822015,SCLdaily1832015,SCLdaily1842015,NaN
1,SCL,7/1/2015 9:00,7/1/2015,2,1,7/1/2015 2:00,Pacific,N,841.0,833.0,...,7,7.0,7.0,7.0,0,0,SCLdaily1822015,SCLdaily1832015,SCLdaily1842015,NaN
2,SCL,7/1/2015 10:00,7/1/2015,3,1,7/1/2015 3:00,Pacific,N,790.0,802.0,...,7,7.0,7.0,7.0,0,0,SCLdaily1822015,SCLdaily1832015,SCLdaily1842015,NaN
3,SCL,7/1/2015 11:00,7/1/2015,4,1,7/1/2015 4:00,Pacific,N,783.0,796.0,...,7,7.0,7.0,7.0,0,0,SCLdaily1822015,SCLdaily1832015,SCLdaily1842015,NaN
4,SCL,7/1/2015 12:00,7/1/2015,5,1,7/1/2015 5:00,Pacific,N,800.0,807.0,...,7,7.0,7.0,7.0,0,0,SCLdaily1822015,SCLdaily1832015,SCLdaily1842015,NaN

In [577]:
time=scl.UTC_time.values

In [578]:
time.size

40489

In [579]:
scl.dtypes

BA                      object
UTC_time                object
Local_date              object
Hour                     int64
Data_issue               int64
                        ...
UTC offset mismatch      int64
File 0                  object
File 1                  object
File 2                  object
File D                 float64
Length: 77, dtype: object

In [580]:
time=pd.to_datetime(time, utc=True)

In [581]:
scl["time"]=time

In [582]:
dti=pd.DatetimeIndex(time)

In [590]:
scl.to_csv("scl666.csv")

In [591]:
agw=pd.read_csv("c:/Users/renee/desktop/AGXXX.csv")

In [592]:
agw.head()

,Source.Name,Date,Time,HourPST,MinTemp,AvgTemp,MaxTemp,Dewpt,RH,WindSpd,WindGust,WindDir,AtmPress,Temp
0,01.csv,7/1/2015,00:00:00,01:00,62.5,63.3,64.0,53.4,70.1,0.0,0.0,N,30.06,62.8
1,01.csv,7/1/2015,01:00:00,02:00,61.1,61.5,62.0,53.9,76.2,0.0,0.0,N,30.06,61.0
2,01.csv,7/1/2015,02:00:00,03:00,60.4,60.8,61.1,54.7,80.2,0.0,0.0,N,30.06,60.2
3,01.csv,7/1/2015,03:00:00,04:00,60.1,60.3,60.6,55.0,82.5,0.0,0.0,N,30.06,59.8
4,01.csv,7/1/2015,04:00:00,05:00,59.5,59.8,60.1,54.7,83.2,0.0,0.0,N,30.06,59.3

In [593]:
Time=agw.Time.values

In [594]:
agw.dtypes

Source.Name     object
Date            object
Time            object
HourPST         object
MinTemp        float64
AvgTemp        float64
MaxTemp        float64
Dewpt          float64
RH             float64
WindSpd        float64
WindGust       float64
WindDir         object
AtmPress       float64
Temp           float64
dtype: object

In [595]:
wv=pd.DataFrame()

In [596]:
wv["date"]=pd.to_datetime(agw.Date.values)
wv["Time"]=agw.Time.values
wv["temp"]=agw.Temp.values
wv["dew"]=agw.Dewpt.values
wv["rh"]=agw.RH.values
wv["spd"]=agw.WindSpd.values
wv["gust"]=agw.WindGust.values
wv["atm"]=agw.AtmPress.values

wv["min"]=agw.MinTemp.values
wv["avg"]=agw.AvgTemp.values
wv["max"]=agw.MaxTemp.values

In [597]:
Time=wv["Time"]

In [598]:
print(Time[:15])

0     00:00:00
1     01:00:00
2     02:00:00
3     03:00:00
4     04:00:00
5     05:00:00
6     06:00:00
7     07:00:00
8     08:00:00
9     09:00:00
10    10:00:00
11    11:00:00
12    12:00:00
13    13:00:00
14    14:00:00
Name: Time, dtype: object

In [599]:
wv["Time"]=pd.to_datetime(Time, utc=True)

In [600]:
wv.head()

,date,Time,temp,dew,rh,spd,gust,atm,min,avg,max
0,2015-07-01,2020-02-14 00:00:00+00:00,62.8,53.4,70.1,0.0,0.0,30.06,62.5,63.3,64.0
1,2015-07-01,2020-02-14 01:00:00+00:00,61.0,53.9,76.2,0.0,0.0,30.06,61.1,61.5,62.0
2,2015-07-01,2020-02-14 02:00:00+00:00,60.2,54.7,80.2,0.0,0.0,30.06,60.4,60.8,61.1
3,2015-07-01,2020-02-14 03:00:00+00:00,59.8,55.0,82.5,0.0,0.0,30.06,60.1,60.3,60.6
4,2015-07-01,2020-02-14 04:00:00+00:00,59.3,54.7,83.2,0.0,0.0,30.06,59.5,59.8,60.1

In [603]:
Date=pd.to_datetime(wv["date"])

In [605]:
print(Date[:15])

0    2015-07-01
1    2015-07-01
2    2015-07-01
3    2015-07-01
4    2015-07-01
5    2015-07-01
6    2015-07-01
7    2015-07-01
8    2015-07-01
9    2015-07-01
10   2015-07-01
11   2015-07-01
12   2015-07-01
13   2015-07-01
14   2015-07-01
Name: date, dtype: datetime64[ns]

In [606]:
wv.to_csv("output.csv")

In [607]:
agw=pd.read_csv("output.csv", parse_dates=[["date", "Time"]])

In [608]:
agw.head(25)

,date_Time,Unnamed: 0,temp,dew,rh,spd,gust,atm,min,avg,max
0,2015-07-01 00:00:00+00:00,0,62.8,53.4,70.1,0.0,0.0,30.06,62.5,63.3,64.0
1,2015-07-01 01:00:00+00:00,1,61.0,53.9,76.2,0.0,0.0,30.06,61.1,61.5,62.0
2,2015-07-01 02:00:00+00:00,2,60.2,54.7,80.2,0.0,0.0,30.06,60.4,60.8,61.1
3,2015-07-01 03:00:00+00:00,3,59.8,55.0,82.5,0.0,0.0,30.06,60.1,60.3,60.6
4,2015-07-01 04:00:00+00:00,4,59.3,54.7,83.2,0.0,0.0,30.06,59.5,59.8,60.1
5,2015-07-01 05:00:00+00:00,5,64.9,54.5,68.9,2.7,7.1,30.06,61.6,65.0,66.7
6,2015-07-01 06:00:00+00:00,6,68.3,55.1,61.4,4.1,7.8,30.06,68.2,68.9,69.6
7,2015-07-01 07:00:00+00:00,7,71.3,55.7,56.9,3.8,8.9,30.04,70.4,71.7,72.6
8,2015-07-01 08:00:00+00:00,8,74.3,56.1,52.2,4.5,9.9,30.04,73.9,74.8,75.5
9,2015-07-01 09:00:00+00:00,9,76.7,57.1,50.1,4.2,9.6,30.04,75.7,77.1,77.9
10,2015-07-01 10:00:00+00:00,10,79.6,57.6,46.2,4.3,10.7,30.03,79.1,80.1,81.0
11,2015-07-01 11:00:00+00:00,11,82.4,56.6,40.9,5.7,11.0,30.02,81.9,82.7,83.4
12,2015-07-01 12:00:00+00:00,12,83.8,56.6,39.0,6.9,13.5,30.01,83.8,84.2,84.7
13,2015-07-01 13:00:00+00:00,13,85.4,56.9,37.5,6.6,12.1,30.00,85.3,85.7,86.2
14,2015-07-01 14:00:00+00:00,14,86.6,56.8,36.0,6.3,12.1,29.98,86.3,86.9,87.7
15,2015-07-01 15:00:00+00:00,15,88.4,56.7,33.8,6.1,13.5,29.97,88.3,88.8,89.5
16,2015-07-01 16:00:00+00:00,16,88.6,57.8,35.0,5.4,13.2,29.95,88.4,89.0,89.7
17,2015-07-01 17:00:00+00:00,17,87.3,58.5,37.2,4.8,10.7,29.95,86.7,87.8,88.5
18,2015-07-01 18:00:00+00:00,18,84.1,58.2,40.7,5.0,11.7,29.95,83.7,84.6,85.9
19,2015-07-01 19:00:00+00:00,19,79.5,59.5,49.5,1.3,7.8,29.95,76.6,80.3,83.3
20,2015-07-01 20:00:00+00:00,20,74.4,59.2,58.1,1.0,4.9,29.94,72.3,75.0,77.2
21,2015-07-01 21:00:00+00:00,21,71.1,57.6,61.6,0.6,4.6,29.95,69.5,71.6,73.3
22,2015-07-01 22:00:00+00:00,22,67.2,58.5,72.2,0.0,1.7,29.96,67.1,67.7,68.5
23,2015-07-01 23:00:00+00:00,23,67.2,56.7,68.1,0.1,1.7,29.97,67.0,67.6,68.5
24,2015-07-02 00:00:00+00:00,24,64.7,56.0,72.0,0.0,0.0,29.97,64.4,65.2,66.5

In [609]:
Time=agw.date_Time.values

In [610]:
agw["Time"]=Time

In [612]:
agw.head(25)

,date_Time,Unnamed: 0,temp,dew,rh,spd,gust,atm,min,avg,max,Time
0,2015-07-01 00:00:00+00:00,0,62.8,53.4,70.1,0.0,0.0,30.06,62.5,63.3,64.0,2015-07-01 00:00:00
1,2015-07-01 01:00:00+00:00,1,61.0,53.9,76.2,0.0,0.0,30.06,61.1,61.5,62.0,2015-07-01 01:00:00
2,2015-07-01 02:00:00+00:00,2,60.2,54.7,80.2,0.0,0.0,30.06,60.4,60.8,61.1,2015-07-01 02:00:00
3,2015-07-01 03:00:00+00:00,3,59.8,55.0,82.5,0.0,0.0,30.06,60.1,60.3,60.6,2015-07-01 03:00:00
4,2015-07-01 04:00:00+00:00,4,59.3,54.7,83.2,0.0,0.0,30.06,59.5,59.8,60.1,2015-07-01 04:00:00
5,2015-07-01 05:00:00+00:00,5,64.9,54.5,68.9,2.7,7.1,30.06,61.6,65.0,66.7,2015-07-01 05:00:00
6,2015-07-01 06:00:00+00:00,6,68.3,55.1,61.4,4.1,7.8,30.06,68.2,68.9,69.6,2015-07-01 06:00:00
7,2015-07-01 07:00:00+00:00,7,71.3,55.7,56.9,3.8,8.9,30.04,70.4,71.7,72.6,2015-07-01 07:00:00
8,2015-07-01 08:00:00+00:00,8,74.3,56.1,52.2,4.5,9.9,30.04,73.9,74.8,75.5,2015-07-01 08:00:00
9,2015-07-01 09:00:00+00:00,9,76.7,57.1,50.1,4.2,9.6,30.04,75.7,77.1,77.9,2015-07-01 09:00:00
10,2015-07-01 10:00:00+00:00,10,79.6,57.6,46.2,4.3,10.7,30.03,79.1,80.1,81.0,2015-07-01 10:00:00
11,2015-07-01 11:00:00+00:00,11,82.4,56.6,40.9,5.7,11.0,30.02,81.9,82.7,83.4,2015-07-01 11:00:00
12,2015-07-01 12:00:00+00:00,12,83.8,56.6,39.0,6.9,13.5,30.01,83.8,84.2,84.7,2015-07-01 12:00:00
13,2015-07-01 13:00:00+00:00,13,85.4,56.9,37.5,6.6,12.1,30.00,85.3,85.7,86.2,2015-07-01 13:00:00
14,2015-07-01 14:00:00+00:00,14,86.6,56.8,36.0,6.3,12.1,29.98,86.3,86.9,87.7,2015-07-01 14:00:00
15,2015-07-01 15:00:00+00:00,15,88.4,56.7,33.8,6.1,13.5,29.97,88.3,88.8,89.5,2015-07-01 15:00:00
16,2015-07-01 16:00:00+00:00,16,88.6,57.8,35.0,5.4,13.2,29.95,88.4,89.0,89.7,2015-07-01 16:00:00
17,2015-07-01 17:00:00+00:00,17,87.3,58.5,37.2,4.8,10.7,29.95,86.7,87.8,88.5,2015-07-01 17:00:00
18,2015-07-01 18:00:00+00:00,18,84.1,58.2,40.7,5.0,11.7,29.95,83.7,84.6,85.9,2015-07-01 18:00:00
19,2015-07-01 19:00:00+00:00,19,79.5,59.5,49.5,1.3,7.8,29.95,76.6,80.3,83.3,2015-07-01 19:00:00
20,2015-07-01 20:00:00+00:00,20,74.4,59.2,58.1,1.0,4.9,29.94,72.3,75.0,77.2,2015-07-01 20:00:00
21,2015-07-01 21:00:00+00:00,21,71.1,57.6,61.6,0.6,4.6,29.95,69.5,71.6,73.3,2015-07-01 21:00:00
22,2015-07-01 22:00:00+00:00,22,67.2,58.5,72.2,0.0,1.7,29.96,67.1,67.7,68.5,2015-07-01 22:00:00
23,2015-07-01 23:00:00+00:00,23,67.2,56.7,68.1,0.1,1.7,29.97,67.0,67.6,68.5,2015-07-01 23:00:00
24,2015-07-02 00:00:00+00:00,24,64.7,56.0,72.0,0.0,0.0,29.97,64.4,65.2,66.5,2015-07-02 00:00:00

In [613]:
Dti=pd.DatetimeIndex(Time)

In [614]:
agw.to_csv("agw666.csv")